<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="utf-8" />
  <%- include('head') %> <!-- Include the head partial -->
    <title>
      <%= details.title %>
    </title> <!-- Use details.title here -->

</head>

<body>
  <!-- Begin page -->
  <div class="wrapper">

    <!-- Menu -->
    <!-- Sidenav Menu Start -->
    <%- include('sidenav') %> <!-- Include the header partial -->
      <!-- Sidenav Menu End -->

      <!-- Topbar Start -->
      <%- include('header') %> <!-- Include the header partial -->
        <!-- Topbar End -->



        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="page-content">


          <div class="page-title-head d-flex align-items-center gap-2">
            <div class="flex-grow-1">
              <h4 class="fs-18 fw-bold mb-0">
                <%= details.title %>
              </h4>
            </div>

            <div class="text-end">
              <ol class="breadcrumb m-0 py-0 fs-13">
                <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li> 



                <li class="breadcrumb-item">
                  <%= details.title %>
                </li>
              </ol>
            </div>
          </div>




          <div class="page-container">
            <h1 class="text-success">
              <%= details.title %>
            </h1>
            <%- content %> <!-- Dynamic content for the selected skill -->
          </div>
          <!-- container -->



          <!-- Footer Start -->
          <%- include('footer') %> <!-- Include the footer partial -->
            <!-- end Footer -->

        </div>
        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->

  </div>
  <!-- END wrapper -->



    <!-- Vendor js -->
    <script src="assets/js/vendor.min.js"></script>

    <!-- App js -->
    <script src="assets/js/app.js"></script>

    <!-- Apex Chart js -->
    <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>

    <!-- Projects Analytics Dashboard App js -->
    <script src="assets/js/pages/dashboard.js"></script>
</body>

</html>